{% extends "base.html" %}

{% block content %}

<div id="cancel-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cancel Appointment Modal</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Cancel This Appointment?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-primary" onclick="document.getElementById('').submit();">Confirm</button>
                <button type="button" class="btn btn-lg btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
          {% include % 'sidebar.html'}
    </div>
    <div class="md-7">
        <table class="table">
            <thead>
                <tr>
                    <th>Appointee</th>
                    <th>Appointment date</th>
                    <th>Appointment time</th>
                    <th>Appointment status</th>
                    <th>Modify Appointment</th>
                    <th>Cancel Appointment</th>
                    <th>Appointment no</th>
                </tr>
            </thead>
            {% if len (user.appointments == 0) %}
                <h2>No appointments to display</h2>
            {% else %}
                {% for index, appointment in enumerate(user.appointments) %}
                    <tr>
                        <td>{{ appointment.id }}</td>
                        <td>{{ appoitment.patient }}</td>
                        <td>{{ appointment.slot.date }}</td>
                        <td>{{ appointment.slot.time }}</td>
                        <td>{{ appointment.status }}</td>
                        <form style="display: none;" action="{% url 'cancel_appointment' appointment_id=appointment.id%}" method="delete">
                            {% csrf_token %}
                        </form>
                        <td><a href="{% url 'edit_appointment' doctor_id=user.id %}" class="btn-warning btn btn-lg">Modify Appointment</a></td>
                        <td><button data-bs-toggle="modal" data-bs-target="#cancel-modal" class="btn-danger btn btn-lg">Cancel Appointment</button></td>
                    </tr>
                {% endfor %}
                <form style="display: none;" action="{% url 'appointment_status' doctor_id=user.id %}" method="put">
                    {% csrf_token %}
                    <input type="hidden" name="appointment_status">
                </form>
                
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}