{% extends "base.html" %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'edit_appointment.css' %}">
{% endblock %}

{% block content %}
    <div class="card w-50 mx-auto my-5 p-3">
        <h2>{{ doctor }}</h2>
        <img src="{% static doctor.picture %}" alt="Doctor picture" class="card-img-top"/>
        <p><strong>Current appointment date: </strong>{{ appointment.slot }}</p>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 offset-md-3 mt-4">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-warning">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}