{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'chat.css' %}">
{% endblock %}

{% block content %}
    <div class="row w-50 d-flex align-items-center justify-content-between">
        <div class="col-md-6">
            <p style="font-size: 1em; color: #218089; font-weight: bold">Meet Felix – Your Friendly Health Assistant!  Not sure how urgent your symptoms are? Just tell Felix
                how you're feeling, and he'll guide you! Click the bot to see what he can do!</p>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <img data-bs-toggle="modal" data-bs-target="#chatbot-modal" style="float: right" src="{% static 'chatbot.png' %}">
        </div>

        <div class="modal fade" id="chatbot-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Chatbot in maintenance</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>The chatbot is in maintenance. We are sorry for any inconveniance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}