{% extends "base.html" %}
{% load static %}


{% block content %}

    {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }}">
                    <p>{{ msg }}</p>
                </div>
            {% endfor %}
    {% endif %}
    <div class="card">
        <h2>{{ doctor }}</h2>
        <img class="card-img-top" src="{% static doctor.picture %}" alt="Doctor picture"/>
        <div class="card-body">
            <div class="row">
                {% for slot in doctor.slot_set.all %}
                    <div class="col-md-4 py-4">
                        <div class="border">
                            <input onchange="onTimeSelected(this)" data-attr="{{ slot.id }}" type="radio"
                                   name="timeslot" class="timeslot"/>
                            <span>{{ slot.time }}</span>
                        </div>
                    </div>
                {% endfor %}
                <form id="appointment-form" style="display: none"
                      action="{% url 'booking:book-appointment' doctor_id=doctor.id patient_id=user.id %}"
                      method="post">
                    {% csrf_token %}
                    <input id="slot_id_val" type="hidden" name="slot_id">
                </form>
                <div class="card-footer">
                    <button onclick="onBookPressed()" type="button" class="btn mb-4 btn-lg btn-primary w-100">
                        Book {{ doctor }}</button>
                    <a href="{% url 'booking:gp' %}" class="btn btn-lg btn-dark w-100">
                        Back</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        const onTimeSelected = (e) => {
            var slot_id = $(e).attr('data-attr');

            let slot_id_val = document.getElementById('slot_id_val');

            $(slot_id_val).val(slot_id);

            console.log(slot_id_val);
        }

        const onBookPressed = () => {
            var appointmentForm = document.getElementById('appointment-form');

            $(appointmentForm).submit();
        }
    </script>
{% endblock %}