{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load active_link_tags %}

<div class="offcanvas offcanvas-start">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Doctor name</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <a href="#" class="list-group-item">Appointments</a>
            <a href="#" class="list-group-item">Reviews</a>
        </div>
    </div>
</div>