{% extends "base.html" %}


{% load crispy_forms_tags %}
{% block content %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }}">
                <p><strong>{{ msg }}</strong></p>
            </div>
        {% endfor %}
    {% endif %}
    <form id="login-form" action="/signin/" method="post">
        {% csrf_token %}
        {% crispy form %}
        <div class="form-group">
            <button onclick="document.getElementById('login-form').submit();" class="btn btn-lg btn-success">Sign In</button>
        </div>
    </form>
{% endblock %}